################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/weather-anti-corruption/bin/Debug/net6.0
