################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/weather-anti-corruption/bin/Debug/net6.0
/weather-anti-corruption/obj
/weather-api/bin/Debug/net6.0
/weather-api/obj
/weather-IoC/bin/Debug/net6.0
/weather-IoC/obj
/weather-service/bin/Debug/net6.0
/weather-service/obj
/weather-api/.vs/weather-api/v17
/.vs/weather/v17
/weather-integration-tests/obj
/weather.Integrations.Tests/bin/Debug/net6.0
/weather.Integrations.Tests/obj
/weather-api/.vs/weather-api/DesignTimeBuild
/weather.api.tests/bin/Debug/net6.0
/weather.api.tests/obj
/weather-infrastructure/bin/Debug/net6.0
/weather-unit-tests/bin/Debug/net6.0
/weather-unit-tests/obj
/weather-models/bin/Debug/net6.0
/weather-models/obj
