.base 
{
    float: left;
    width: 100%;
    padding: 50px 20px;
    margin: 20px 0px;
    border-radius:10px;
    border: 1px solid #444;
    background-color: #ADD8E6
}

.baseDate
{
    width: 100%;
    float: left;
    text-align: left;
}
