.test 
{
    float: left;
    height:500px;
    width: 500px;
    padding: 50px 20px;
}

.baseDate
{
    width: 100%;
    float: left;
    text-align: left;
}

.imput-address
{
    width: 200px;
    border-radius:10px;
    height: 20px;
    margin: 30px;
}